@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Kategori Adı </th>
                <th>Durum</th>
                <th>Açıklama</th>
                <th>Sil</th>
            </tr>
            
        </thead>
        
            @foreach(var i in Model) {
            <tr>
                <td>@i.CategoryID</td>
                <td>@i.CategoryName </td>
                <td>@i.CategoryStatus</td>
                <td><a href="#" class="btn btn-danger">DETAYLAR</a></td>
                <td><a href="/Category/CategorySil/@i.CategoryID" class="btn btn-danger">SİL</a></td>
            </tr> 
            }
        
    </table>

