@model StokMVC.Models.Entity.TBLMusteri
@{
    ViewBag.Title = "YeniMusteriEkle";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Yeni Musteri Ekleme Sayfası</h2>

<form class="form-group" method="post">
    <div>
        <label>MÜŞTERİ ADI</label>
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:red" })
        <br />
        <label>MÜŞTERİ SOYADI</label>
        @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriSoyad, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn-info" onclick="alert('Müşteri eklendi');">MÜŞTERİ KAYDET</button>
    </div>
</form>

