@using StokMVC.Models.Entity
@model List<TBLKategori>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<form action="/Home/CategoryChosen" method="get">

    <fieldset>
        <select id="KategoriId" name="KategoriAd">

            @{
                foreach (var item in Model)
                {
                    <option value=@item.KategoriId>@item.KategoriAd</option>
                }
            }

        </select>
    </fieldset>

</form>