



<div class="content-form">
    <h3>deneme YORUM YAPIN...</h3>
    <form method="post">
        <input type="hidden" value="@ViewBag.deger" name="BlogId" />
        <input type="text" placeholder="ADINIZ" name="KullaniciAdi" required />
        <input type="text" placeholder="Email" name="Mail" required />

        <textarea placeholder="YORUMUNUZ" name="Aciklama" required></textarea>
        <input type="submit" value="GÖNDER" />
    </form>
</div>