@model StokMVC.Models.Entity.TBLKategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Kategori Güncelleme Sayfası </h2>

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.KategoriId)
    @Html.TextBoxFor(m => m.KategoriId, new { @class = "form-control" })
    @Html.LabelFor(m => m.KategoriAd)
    @Html.TextBoxFor(m => m.KategoriAd, new { @class = "form-control" })
</div>
<div style="margin-top:15px">
    <button class="btn-warning" onclick="alert('kategori güncellendi')">KATEGORİLERİ GÜNCELLE</button>
</div>
}
    

